@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root
{
    --green: rgb(81, 255, 0);
    --black: #130f40;
    --red: darkred;
    --blue: blue;
    --box-shadow: 0 .1rem 1rem rgba(23, 22, 22, 0.849);
    --border: 2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);
} 

*
{
    font-family: 'Lato', sans-serif; font-size: medium;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s linear;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background-color: #bfbfbf;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: default;
}

.header .logo i
{
    color: rgba(39, 5, 176, 0.873);
    cursor: default;
}

.header .navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover
{
    color: rgb(81, 255, 0);
}

.header .icons div 
{
    border: 1px ;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #bfbfbf;
    color: var(--black);
    font-size: 2rem;
    margin-right: .4rem;
    text-align: center;
    cursor: pointer;
}
.header .icons i
{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #bfbfbf;
    color: var(--black);
    font-size: 2rem;
    margin-right: .4rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover
{
    background: rgb(81, 255, 0);
    color: white;
}
.header .icons i:hover
{
    background: rgb(81, 255, 0);
    color: white;
}

#menu-btn
{
    display: none;
}

.header .search-form
{
    position: absolute;
    top: 110%;
    right: 2rem;
    width: 30rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.7rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover
{
    color: rgb(81, 255, 0);
}
